{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/menu.html' %}
<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Crie seu prato, {{ user.username }} :)</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Todos os campos são obrigatórios</p>
                <div class="contact-form-area">
                    <form action="{% url 'cria_prato' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <label for="nome_prato"><b>Título do prato</b></label>
                                <input type="text" id="nome_prato" class="form-control" name="nome_prato"
                                    placeholder="Ex. Maminha no limão" required>
                            </div>
                            <div class="col-12">
                                <label for="file"><b>Ingredientes</b></label>
                                <textarea class="form-control" name="ingredientes" cols="30" rows="10" placeholder="Ex. Maminha, &#10; 3 Limões, &#10;Sal e temperos" required></textarea>
                            </div>
                            <div class="col-12">
                                <label for="file"><b>Modo de preparo</b></label>
                                <textarea class="form-control" name="modo_preparo" cols="30" rows="10" placeholder="Ex. Corte saboroso, temperado com lima, sal e diversos temperos, marinando para obter o máximo de suculência." required></textarea>
                            </div>
                            <div class="col-12 col-lg-3">
                                <label for="file"><b>Tempo de preparo (minutos)</b></label>
                                <input type="number" class="form-control" name="tempo_preparo" placeholder="Ex. 2"
                                    required>
                            </div>
                            <div class="col-12 col-lg-3">
                                <label for="file"><b>Rendimento</b></label>
                                <input type="text" class="form- control" name="rendimento"
                                    placeholder="Ex. serve 1 pessoa" required>
                            </div>
                            <div class="col-12 col-lg-3">
                                <label for="file"><b>Categoria do prato</b></label>
                                <input type="text" class="form-control" name="categoria" placeholder="Ex. Churrasco"
                                    required>
                            </div>
                            <div class="col-12 col-lg-3">
                                <label for="file"><b>Foto</b></label>
                                <input type="file" class="form- control" name="foto_prato" required>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn delicious-btn mt- 30" type="submit">Criar seu prato</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/footer.html' %}
{% endblock %}